<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Grid</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://kit.fontawesome.com/790234db04.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script type="importmap">
        {
            "imports": {
                "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
            }
        }
    </script>

    <script type="module" src="assets/js/app.js"></script>
</head>

<body>
    <div id="app">
        <nav class="navbar bg-body-secondary">
            <div class="container-fluid">
                <a class="navbar-brand fs-2 fw-semibold">
                    <img src="assets/images/1657090679_6-kartinkin-net-p-kapibara-korol-art-krasivo-6.jpg" id="logoImg"
                        alt="Logo" width="30" class="d-inline-block me-4 ms-5">
                    Products
                </a>
                <a class="d-flex navbar-brand basketBox">
                    <img src="assets/images/cart.png" alt="">
                    <h4 class="amProdsLab" >(0)</h4> <!--v-model="cartAmount"-->
                    <h4>$0.00</h4>  <!--v-model="cartCost"-->
                </a>

                <form class="d-flex" role="search">
                    <input @input="render" v-model="searchValue" class="form-control me-5 searchInp" type="text"
                        placeholder="Search">
                </form>
            </div>
        </nav>
        <div class="prodsBigBox">
            <div class="mainClothBox">
                <prods-block
                    v-for="prod in stafVueObj"
                    :prods-info="prod"
                ></prods-block>
            </div>
            <div class="sortMainBox">
                <h3 class="sortByLab">Сортировка</h3>
                <div class="upDownBox">
                    <input @click="increaseFunc" type="radio" class="radioInp me-2" id="increaseInp" name="drone"
                        value="up" v-model="sortDirect">
                    <label for="increaseInp">по возрастанию цен</label>
                </div>

                <div class="upDownBox mb-4">
                    <input @click="decreaseFunc" type="radio" class="radioInp me-2" id="decreaseInp" name="drone"
                        value="down" v-model="sortDirect">
                    <label for="decreaseInp">по спаданию цен</label>
                </div>

                <h4 class="minPriceLab">Min price: {{minPrice}}</h4>
                <input type="range" v-model="minPrice" @input="render" class="form-range" min="9" max="999" value="9">

                <h4 class="minPriceLab mt-3">Max price: {{maxPrice}}</h4>
                <input type="range" v-model="maxPrice" @input="render" class="form-range" min="10" max="1000"
                    value="1000">

            </div>
        </div>
    </div>
</body>

</html>