header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

aside {
    grid-area: aside;
}

.baner {
    grid-area: banner;
}

#mainGrid {
    min-height: 100vh;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
}