@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap");

body {
    margin: 0;
}

/* HEADER */
#logoImg {
    width: 60px;
    border-radius: 13px;
}

/* MAIN PART */

.prodsBigBox {
    margin: 30px;
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 30px;
}

.mainClothBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.sortMainBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#searchInp {
    float: right;
    width: 40%;
    display: inline-block;
    margin: 5px 0;
}

.clothBox {
    box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.342);
    padding: 20px;
    /* height: 53vh; */
}

.prodImg {
    display: block;
    margin: 20px auto;
}

.clothDesc {
    font-size: 15px;
}

.sortByLab {
    display: inline-block;
}

.price {
    text-align: right;
    margin-top: 30px;
    font-weight: 600;
}

.radioInp {
    display: inline-block;
    margin-left: 20px;
}

label {
    font-size: 18px;
    font-weight: 400;
}

input[type="range"] {
    width: 85%;
}

.amProdsLab {
    margin-right: 10px;
}

.changeAmProdBut {
    border-color: rgb(226, 122, 217);
    border-radius: 4px;
    border-width: 3px;
}

.currProdAm {
    margin: 0 10px;
    display: inline;
}